@import url(https://fonts.googleapis.com/css?family=Lora:700,700italic|Oswald:700|Cabin:700);

@media (min-width: 300px) {
   
#navbar {
  padding: 1% 0% 1% 0%;
  background-color: #F4F7FD;
  /* background: linear-gradient(to right, #D7DDE8, #757F9A); */
  background: white;
  color: black;
  /* position: fixed; */
  top: 0;
  z-index: 999;
  width: 100%;
}
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10% 10%;
    grid-template-areas:
      "Logo-and-name"
      "phone-section"
      "clock-section";
    padding: 5% 0px 13% 0px;
    justify-items: center;
   background: black;
  }
    
  .Logo-and-name { grid-area: Logo-and-name; 
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    margin-left: 1%;
    cursor: pointer;
    color: black;

  }

  #name-company:hover {
    text-decoration: none !important;
    border-bottom: 2px solid transparent !important;
      color: inherit !important;
  }



  .rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;   
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;    
    overflow:hidden;
    animation-duration: 5s;
     }  

 .rotate:hover  
{ 
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);         
}  
.name {
  animation-duration: 3s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: 20%;
    /* width: 300%; */
  }

  to {
    margin-left: 0%;
    /* width: 100%; */
    
  }
}





  
  .phone-section { grid-area: phone-section; 
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    min-width: 50%;
   color: white;


}


.phone-logo{
    font-size: 200% !important;
    padding-right: 2.5%;
    color: #ED7170 !important;
}
  
  .clock-section { grid-area: clock-section; 
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    min-width: 50%;
    color: white;

}

 /* .ant-menu-horizontal{
      border-bottom: 2.5px solid #ED7170 !important;
} */
/* .ant-menu-submenu:hover {
  color: #F2184F !important;
}  */

.students-image {
  background-image: url('./students2.jpg');
  background-position: 75% 20%;
  height: 20vh;
  margin: 0 auto;
  opacity: 0.9;
  border-bottom: 2.5px solid #ED7170 !important;
}


}




@media (min-width: 700px) {
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Logo-and-name phone-section clock-section";
    padding: 2% 0px 2% 0px;
    justify-items: stretch;
  }
  .phone-logo{
    font-size: 200% !important;
    /* margin-right: 2.5%; */
}
.students-image {
  background-position: 50% 20%;
}
/* .ant-carousel {
  height: 320px;
  background: black;
}
.ant-carousel .slick-slider {
  height: 320px;
} */
}

@media (min-width: 1500px) {
    /* .phone-logo{
      margin-right: 2.5%;
  } */
  .Logo-and-name {
    font-size: 300%;
  }
  .phone-section {
    font-size: 200%;
  }
  .clock-section {
    font-size: 200%;
  }
  }
  