@import '~antd/dist/antd.css';

.ant-avatar-circle {
    color: white !important
}

/* down-list-itm {
    cursor: pointer;
} */

.ant-list-item:hover {
    /* color: #1890ff !important; */
    background: #fafafa;
}

.download-icon {
    font-size: 130%;
    margin-right: 1%;
    color: #1890ff !important;
}

.download-icon:hover {
    color: #7db6eb !important;
}

.list-item-name {
    color: black;
}

.delete-icon {
    font-size: 125%;
    color: red;
}

.delete-icon :hover {
    color: rgb(240, 113, 113)
}

/* .ant-modal-close {

} */


