.godhbL {
    background: white;
}

.rsc-header{
    background:#1890ff;
}

.rsc-header-close-button{
    color:black;
}

.rsc-ts-bubble {
    background:#1890ff;
    color: white;
}

.rsc-ts-user .rsc-ts-bubble {
    color:black;
    background:#fff6e5;
}

.rsc-os-option-element {
    color:white;
    background:black;
    cursor: pointer;
}