.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

#ant-table-timetable {
  margin: 2.5% !important;
}

.ant-pagination {
  margin: 2.5% !important;
}
.ant-table-tbody > tr > td {
  border-bottom: 0px solid #226872 !important;
}

.ant-table-thead tr th {
  border-bottom: 0.5px inset #226872 !important;
  /* border-style: groove; */
}


.ant-table-thead tr th {
  color: #226872;
  font-weight: 1000 !important;
  background: #F0F0F0 !important;
  font-family: Montserrat !important;

}


.ant-table-cell {
  color: #226872;
  font-family: Montserrat !important;
}

#faculty-table {
  margin: 2.5% !important;
  background: #F0F0F0;
}

.subjects-faculty p {
  margin: 0px !important
}