@media (min-width: 300px) {
  @import url('https://fonts.googleapis.com/css?family=Sacramento');

.ant-carousel {
    /* margin-top: 2em !important; */
    /* height: 500px!important; */
    /* padding-top: 96px; */
    /* padding-bottom: 96px; */
    color: #1a2b6b !important;
    /* background: black; */
    height: 340px !important;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0.5em;
    /* background-size: cover; */
    /* background-image: url('./background-light.jpg') !important */
  }
  .ant-carousel .slick-slider {
    height: 335px;
  }
.reviews p {
    text-align: center;
    /* margin-top: 3%; */
    color: white !important;
    padding: 2%;
  }
  .ant-carousel .slick-slider {
    height: 320px;
  }
  .ant-carousel .carousel-item-div {
    text-align: center;
    padding: 2.5%;
    /* margin-top: 2%; */
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #eae7e8; */
    border-radius: 0.5em;
    background-color: rgb(212, 180, 121);
    /* background-color: black; */

  }

}