.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

#ant-table-timetable {
  margin: 2.5% !important;
}

.ant-pagination {
  margin: 2.5% !important;
}