.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

#ant-table-timetable {
  margin: 2.5% !important;
}

.ant-pagination {
  margin: 2.5% !important;
}


.ant-table-thead tr th {
  color: #226872;
  font-weight: 600;
}

.ant-table-cell {
  color: #226872;
  font-family: Montserrat !important;
}