

@import '~antd/dist/antd.css';



@media (min-width: 300px) {
    #signin-form-row {
        padding: 2% !important;
        width: 240px !important;
        margin: 1% !important;
    }
    /* .signin-container {
        margin: 1% 1% 1% 1%;
        padding: 2% 2% 2% 2%;
        border: 1px solid #eaeced;
        width: 30%;
        height: 10%;
        margin-left: 30%;
    } */
   

}
 
    
    @media (min-width: 700px) {
        #signin-form-row {
            width: 100% !important;
            padding-bottom: 30% !important;
            padding-right: 20% !important;
        }
       
    }

    @media (min-width: 1000px) {
   
       
    }
    
    @media (min-width: 1500px) {
  
    
    } 

    @media (min-width: 1900px) {
   
    
    } 
