

@import '~antd/dist/antd.css';



@media (min-width: 300px) {
    #signin-form-row {
        padding: 2% !important;
        width: 240px !important;
        margin: 1% !important;
    }

}
 
    
    @media (min-width: 700px) {
        #signin-form-row {
            width: 100% !important;
            padding-bottom: 30% !important;
            padding-right: 20% !important;
        }
       
    }

    @media (min-width: 1000px) {
   
       
    }
    
    @media (min-width: 1500px) {
  
    
    } 

    @media (min-width: 1900px) {
   
    
    } 
