@media (min-width: 300px) {
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
}

.ant-form {
    margin: 10% 3% 3% 3% !important;
}
.get-in-touch {
    text-align: 'center';
    color: 'white';
    margin-top: '5%';
}

.home-form {
    background-color: #513a50;
    padding-right: 3%;
    border-radius: 0em;
    min-width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.ant-form-item .ant-form-item-label > label {
    color: white !important;
}

.videoTag {
    position: fixed;
    /* top: 20%; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.master-container {
    position: relative;
    overflow: hidden;
    height: 50%;
}

}

@media (min-width: 768px) {
    .home-content{
        flex-direction: row;
    } 
    .home-form {
        border-radius: 1em;
    }
    }