@import '~antd/dist/antd.css';

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

body html {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#app {
  background-color: #F0F0F0 ;
}

.chatbot-btn {
	-webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background: rgb(110, 72, 170);
    bottom: 32px;
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 15%) 0px 12px 24px 0px;
    display: flex;
    fill: rgb(255, 255, 255);
    height: 56px;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    right: 32px;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
    width: 56px;
    z-index: 999;
}

.aside-page {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100vh;
  background: linear-gradient(
180deg
,#36e08d,#059df6 20.02%,#644cff 33.15%,#62f6cc 52.49%,#f89100 70.99%,#ff3244);
}

/* .rsc {
	background: rgb(245, 248, 251);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 15%) 0px 12px 24px 0px;
    font-family: monospace;
    overflow: hidden;
    position: fixed;
    bottom: 32px;
    top: initial;
    right: 32px;
    left: initial;
    width: 350px;
    height: 520px;
    z-index: 999;
    transform: scale(1);
    transform-origin: right bottom;
    transition: transform 0.3s ease 0s;
} */
